@model CategoryVM
@{
    ViewData["Title"] = "AddCategory";
}

<h1>AddCategory</h1>

<h2 style="color:red">@TempData["message"] </h2>

<form asp-action="AddCategory" asp-controller="Category" method="post">
    <div>
        <input type="text" asp-for="Category.CategoryName" placeholder="Kategori ismi"/>
    </div>
    <div>
        <input type="text" asp-for="Category.Description" placeholder="Acıklaması" />
    </div>
    <div>
        <button class="btn btn-primary">Ekle</button>
    </div>
</form>